# Игнорируем все папки target/ в любом месте
**/target/

# Настройки VSCode
.vscode/

# Временные и служебные файлы ОС
.DS_Store
Thumbs.db

# Временные файлы редакторов
*.log
*.tmp
*.swp
*~

# Инкрементальные данные компилятора Rust
**/incremental/
